# postgresql.conf

#------------------------------------------------------------------------------
# PostgreSQL configuration file
#------------------------------------------------------------------------------
#
# This file consists of lines of the form:
#
#   name = value
#
# (The "=" is optional.)  Whitespace may be used freely.  Lines beginning
# with # are comments.  If a parameter is specified more than once, the last
# occurrence takes effect.  Empty lines are ignored.
#
# If a parameter value contains spaces, tabs, or non-alphanumeric
# characters, it must be enclosed in single quotes.  Single quotes within
# the value must be written as two single quotes or prefixed by a backslash.
# Backslashes within the value must also be written as two backslashes.
#
# List values can be written as comma-separated lists.  List values that
# contain spaces or commas must be quoted.
#
# This file is read on server startup and when the server receives a SIGHUP
# signal.  Parameters that can only be set at server startup are marked
# as such.
#
#
# FILE LOCATIONS
# ----------------
# These parameters determine where the server should find its data
# and configuration files.
#
data_directory = '/var/lib/postgresql/16/main'      # (change this if necessary)
hba_file = '/etc/postgresql/16/main/pg_hba.conf'    # host-based authentication file
ident_file = '/etc/postgresql/16/main/pg_ident.conf'  # user name mapping file
#
#
# CONNECTIONS AND AUTHENTICATION
# ----------------------------------
#
# These parameters control how clients connect to the database server.
#
listen_addresses = '*'        # what IP addresses to listen on;
                                # comma-separated list of addresses;
                                # defaults to 'localhost'; use '*' for all
                                # available interfaces; use '' to listen on
                                # no interfaces at all (disables TCP connections)
port = 5432                     # (change this if necessary)
max_connections = 100           # (change this if necessary)
#superuser_reserved_connections = 3 #won't usually need to change
#
# Authentication:
#
# PostgreSQL trusts connections from the local machine by default, but you
# might want to change that.  The default is sufficient for most purposes.
#
# These settings are usually configured in pg_hba.conf, not here.
#
#authentication_timeout = 60        # 1 minute
#
#
# RESOURCE USAGE (except WAL)
# --------------------------------
#
# These parameters control how the server uses system resources.
#
memory_shared_buffers = '128MB'         # min 128kB
                                    # (change this if you have more RAM)
#temp_buffers = '8MB'                  # min 800kB
max_prepared_transactions = 100         # zero disables the feature
work_mem = '4MB'                    # min 64kB
maintenance_work_mem = '64MB'           # min 1MB
#replacement_sort_tuples = 150000 # number of tuples that qualify
#logical_decoding_work_mem = 32MB
effective_cache_size = '4GB'           # (change this based on system RAM)
#
#
# WRITE-AHEAD LOG (WAL)
# ---------------------------
#
# These parameters control how the server writes transaction logs (WAL).
#
wal_level = 'minimal'       # minimal, replica, logical
                            # (change to 'replica' for replication)
#fsync = true                # whether to force operating system to flush
                            # writes to disk immediately;
                            # setting this to false can result in unrecoverable
                            # data corruption if there is an operating system
                            # crash, but it can improve performance;
                            # immediate durability should be used
                            # whenever data integrity is the primary concern
#synchronous_commit = 'on'     # immediate, on, off, local
#wal_sync_method = 'fsync'    #  fsync, fdatasync, pread, pwrite,
                                #  open_datasync, open_sync, none
#full_page_writes = true      # recover from partial page writes
#wal_buffers = -1            # min 32kB, -1 uses shared_buffers
#wal_writer_delay = 200ms    # 1-10000 milliseconds
#wal_writer_flush_after = 10  # measured in pages, 0 disables
#
#
# BACKGROUND WRITER
# -----------------
#
# These parameters control the background writer process, which writes
# dirty buffers to disk.
#
#bgwriter_delay = 200ms         # 10-10000 ms between rounds
#bgwriter_lru_maxpages = 100    # max buffers written per round, 0 disables
#bgwriter_lru_multiplier = 2.0  # ratio of buffers scanned to buffers written
#bgwriter_flush_after = 512    # measured in pages, 0 disables
#
#
# ASYNCHRONOUS BEHAVIOR
# ----------------------
#
# These parameters control various asynchronous operations.
#
#effective_io_concurrency = 1        # 1-1000; 0 disables
#max_worker_processes = 8            # (change this if necessary)
#max_parallel_workers_per_gather = 2 # taken from max_worker_processes
#max_parallel_workers = 8          # maximum number of parallel processes
#max_parallel_maintenance_workers = 2
#
#
# QUERY PLANNING
# --------------
#
# These parameters control how the server plans queries.
#
#default_statistics_target = 100    # range 1-10000
#random_page_cost = 4.0             # 1.0 - 10000.0
#cpu_tuple_cost = 0.01             # 0.0 - 10000.0
#cpu_index_tuple_cost = 0.005       # 0.0 - 10000.0
#cpu_operator_cost = 0.0025        # 0.0 - 10000.0
#parallel_setup_cost = 1000.0      # 0.0 - 10000.0
#parallel_tuple_cost = 0.1         # 0.0 - 10000.0
#min_parallel_table_scan_size = 8kB
#min_parallel_index_scan_size = 8kB
#
#
# ERROR REPORTING AND LOGGING
# -----------------------------
#
# These parameters control how the server logs errors and other messages.
#
log_destination = 'stderr' # stderr, csvlog, jsonlog
log_directory = 'log'         # directory where log files are written
log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'
log_file_mode = 0600            # The file access mode used when creating log files.
log_truncate = 'on'           # Automatically truncate a log file instead of
                            # appending to it.
log_rotation_age = '1d'         # Automatic rotation of logfile, 0 disables.
log_rotation_size = '10MB'      # Automatic rotation of logfile, 0 disables.
#log_min_messages = 'notice'     # debug5, debug4, debug3, debug2, debug1,
                            # info, notice, warning, error, log, fatal, panic
#log_min_error_statement = 'error'  # same values as log_min_messages
#log_statement = 'none'        # none, ddl, mod, all
#log_connections = 'off'
#log_disconnections = 'off'
#log_duration = 'off'
#log_line_prefix = '%m [%p] %u@%d '
#log_timezone = 'UTC'
#lc_messages = 'en_US.UTF-8'
#client_encoding = 'UTF8'
#
#
# PROCESS TITLE
# -------------
#
# These parameters control how the server's processes are named.
#
#cluster_name = 'main'           # identifies a cluster in syslog messages
#update_process_title = 'on'
#
#
# STATISTICS
# ----------
#
# These parameters control how the server collects statistics.
#
#track_activities = 'on'
#track_counts = 'on'
#track_io_timing = 'off'
#
#
# AUTOVACUUM
# ----------
#
# These parameters control the autovacuum daemon.
#
#autovacuum = 'on'
#log_autovacuum_min_duration = -1 # -1 disables, 0 logs all actions and
                                # their durations, > 0 logs actions exceeding
                                # this number of milliseconds.
#autovacuum_max_workers = 3
#autovacuum_naptime = '1min'
#autovacuum_vacuum_threshold = 50
#autovacuum_analyze_threshold = 50
#autovacuum_vacuum_scale_factor = 0.2
#autovacuum_analyze_scale_factor = 0.1
#autovacuum_freeze_max_age = 200000000
#autovacuum_multixact_freeze_max_age = 400000000
#autovacuum_vacuum_cost_delay = 0ms
#autovacuum_vacuum_cost_limit = -1
#
#
# SECURITY OPTIONS
# ----------------
#
# These parameters control various security-related aspects of the server.
#
#ssl = 'false'
#ssl_cert_file = 'server.crt'
#ssl_key_file = 'server.key'
#ssl_ca_file = ''
#ssl_crl_file = ''
#
#
# PRESET OPTIONS
# --------------
#
# These parameters are preset by the initdb program.
#
# These are only guidelines.  You can change them, but be careful.
#
#listen_addresses = 'localhost'
#max_connections = 100
#superuser_reserved_connections = 3
#shared_buffers = 128MB
#dynamic_shared_memory_type = posix
#log_startup = false
#log_statement = 'off'
#log_connections = false
#log_disconnections = false
#log_error_verbosity = default
#client_encoding = 'SQL_ASCII'
#default_transaction_isolation = 'read committed'
#timezone = 'Etc/UTC'
